@import '../../setting/varAndMixin.scss';

#handAndStick {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: handAndStickMovie 2s infinite alternate;
}

@keyframes handAndStickMovie {
    0% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

#Chat_icon {
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(2) translate(-20px, -10px);
}

#firstcircle {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 0s infinite;
}

#secondcircle {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 0.2s infinite;
}

#thirdcircle {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 0.4s infinite;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

}

#Chat_icon_1_ {
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(1.7) translate(20px, -30px);
}

#firstline {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 1s infinite;
}

#secondline {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 1.2s infinite;
}

#thirdline {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacity 1.5s 1.4s infinite;
}

#mouthTeacher {
    transform-box: fill-box;
    transform-origin: center;
    animation: opacityMouth 2s infinite;
}

@keyframes opacityMouth {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

}

#g44231 {
    transform-box: fill-box;
    transform-origin: left bottom;
    animation: handStudentMovie 1.4s 1s infinite alternate;
}

@keyframes handStudentMovie {
    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(20deg);
    }
}