@import '../../setting/varAndMixin.scss';

.association {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 70px 0px 0px 0px;

    &__wrapper {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 160px 65% 50px;
        padding: 10px;
    }

    &__logo {
        width: 100px;
        height: auto;
        margin: 0px 0px 10px 10px;
        filter: drop-shadow(0px 15px 3px rgba(0, 0, 0, 0.2)) drop-shadow(10px 20px 3px rgba(0, 0, 0, 0.1)) drop-shadow(-5px 20px 3px rgba(0, 0, 0, 0.05));
        opacity: 0;

        &-wrapper {
            grid-column: 1/3;
            grid-row: 1/2;
        }
    }

    &__title {
        grid-column: 1/3;
        grid-row: 1/2;
        width: 220px;
        word-wrap: break-word;
        font-size: $text-size-h1;
        line-height: 2.2rem;
        font-weight: 700;
        font-style: italic;
        letter-spacing: 1px;
        display: flex;
        align-self: flex-end;
        transform: translateX(39%);
        padding: 0px 0px 5px 0px;
        text-shadow: 3px 4px 4px grey;
    }

    &__description {
        grid-column: 1/5;
        grid-row: 2/4;
        padding: 10px 20px 10px 20px;
        line-height: 1.2rem;
    }

    &__ilustration-wrapper {
        display: none;
    }

    &__button {
        @include flexCenter;
        grid-column: 1/5;
        grid-row: 3/4;
        transform: translate(0px, 30px);
    }

}

// small devices (smartphons on landscape oreintation, 768px and up)
@media (max-width: 768px) and (orientation: landscape) {
    .association {
        &__wrapper {
            grid-template-rows: 1fr 1fr 0.6fr;
        }
        &__title {
            transform: translateX(60%);
        }

        &__button {
            grid-row: 3/4;
            transform: translate(0px, 60px);
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .association {
        margin: 100px 0px 0px 0px;
        padding: 0px 50px 0px 50px;

        &__wrapper {
            grid-template-rows: repeat(2, 1fr);
        }

        &__logo {
            width: 230px;

            &-wrapper {
                grid-column: 1/2;
            }
        }

        &__title {
            width: 450px;
            padding: 0px 0px 5% 0px;
            font-size: 3rem;
            line-height: 3rem;
            transform: translateX(50%);
        }

        &__description {
            grid-row: 2/3;
            max-width: 85%;
        }

        &__ilustration-wrapper {
            grid-column: 3/4;
            grid-row: 1/2;
            display: inline-block;
            visibility: hidden;
            position: relative;
        }

        &__button {
            grid-column: 1/3;
            grid-row: 2/3;
            transform: translate(40px, 90px);
        }

    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .association {
        &__logo {
            width: 230px;

            &-wrapper {
                grid-column: 1/2;
            }
        }

        &__description {
            max-width: 730px;
            line-height: 1.4rem;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .association {
        &__ilustration-wrapper {
            grid-column: 3/5;
            grid-row: 1/3;
            visibility: visible;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            transform: translate(0px, 0px);
        }

        &__ilustration {
            width: 330px;
            filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.1)) drop-shadow(8px 20px 5px rgba(0, 0, 0, 0.1)) drop-shadow(-5px 20px 5px rgba(0, 0, 0, 0.05));
        }
    }
}

@media (min-width: 1400px) {
    .association {
        &__title {
            width: 470px;
            font-size: 3.5rem;
            line-height: 3.7rem;
            transform: translateX(55%);
        }

        &__ilustration {
            width: 500px;
        }
    }
}

@media (min-width: 1600px) {
    .association {
        padding: 0px 80px 0px 80px;

        &__wrapper {
            height: 650px;
        }

        &__logo {
            width: 300px;
        }

        &__title {
            width: 660px;
            font-size: 5rem;
            line-height: 5.5rem;
            transform: translate(46%, -70px);
        }

        &__description {
            transform: translate(140px, -40px);
        }
        &__button {
            transform: translate(60px, 60px);
        }

        &__ilustration {
            width: 600px;
            transform: translate(0px, 190px);
            position: absolute;
            right: 0;
        }
    }
}